*.iml
.gradle
/build
/.idea/*
RoomAssetPersistent/libs/
RoomAssetPersistent/src/androidTest/
RoomAssetPersistent/src/main/res/drawable/
RoomAssetPersistent/src/test/
sample/libs/
sample/src/androidTest/
sample/src/test/
schemas/
/local.properties