*.iml
.gradle
/build
/.idea
roomassetpersistent/libs/
roomassetpersistent/src/androidTest/
roomassetpersistent/src/main/res/drawable/
roomassetpersistent/src/test/
sample/libs/
sample/src/androidTest/
sample/src/test/
schemas/
/local.properties